@page "/"
@inject GameSummary Games
@inject GameClient Client 


<PageTitle>Home</PageTitle>

@if(games is null)
{
    <p><em>Loading...</em></p>
}
else
{

<table class="table table-striped table-hover">
<thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Genre</th>
      <th scope="col">Price</th>
      <th scope="col">Release Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var game in games){
<tr>
      <td>@game.Id</td>
      <td>@game.Name</td>
      <td>@game.Genre</td>
      <td>@game.Price</td>
      <td>@game.ReleaseDate</td>
      <td>
        <a class="btn btn-primary" href="@GameUrl(game)" role="button">
        <i class="bi bi-pencil-fill"></i>
        </a>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="@GetDeleteModalId(game)">
        <i class="bi bi-trash3-fill"></i>
        </button>
        <Modal Game="@game" />
      </td>
    </tr>
    }
  </tbody>
</table>

}
@code{
  
  private GameSummary[]? games;
    protected override void OnInitialized()
    {
        games = Client.GetGames();
    }
    private static string GameUrl(GameSummary game) => $"/edit/{game.Id}";

    private string GetDeleteModalId (GameSummary game) => $"#{Modal.GetGameId(game)}";
}